[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
devpi-client = "*"
pylint = "*"
mypy = "*"
jupyter = "*"
jupyterlab = "*"
setuptools = "*"
twine = "*"
wheel = "*"
bumpversion = "*"
pytest = "*"
nltk = "*"
textacy-corpora = {editable = true,path = "."}
pytest-watch = "*"
ipython-autotime = "*"

[packages]
cytoolz = "*"
textacy = "*"
spacy = "*"
numpy = "*"

[requires]
python_version = "3.7"
